.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #3b3127ec;
}

h1 {
  margin: 30px;
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: antiquewhite;
}

p {
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
  color: antiquewhite;
  font-size: 2rem;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
